@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --primary: #3155e7;
    --primary-dark: #2045d6;
    --black : #010101;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #ffffff;
    --body: #fefefe;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--body);
}
.btn{
    border-radius: 8px;
}
.btn-primary,
.btn-outline-secondary{
    padding: 12px 20px;
}
.btn-primary{
    background-color: var(--primary);
}
.btn-primary:hover{
    background-color: var(--primary-dark);
}
.btn-outline-secondary{
    border: 1px solid var(--gray-2);
    color: var(--black);
}
.btn-outline-secondary:hover{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}
.btn-outline-secondary:focus{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}
.navbar .btn-outline-secondary{
    border: 1px solid var(--gray-2);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}
.nav-link{
    margin-left:41px;
    font-size: 16px;
    color: var(--gray-1);
}
.navbar{
    padding: 10px 0;
}
.navbar-nav .nav-link.active{
    font-weight: bold;
    color: var(--black);
}
.navbar-brand img{
    height: 4em;
    width: 8em;
}
.main-image img{
    height:30em;
    width:40em;
}

section.hero{
    padding: 80px 0;
}
section.hero .text{
    font-weight: 800;
    font-size: 48px;
    line-height: 73px;
    color: var(--black);
}
.buttons{
    padding-top: 69px;
}
.buttons .btn{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

section.setup{
    padding: 150px 0;
}
section.setup .text-header h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
}
section.setup .text-header p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--gray-1);
    padding: 25px 0 ;
}

section.setup .icons{
    padding: 27px 0;
}

section.setup h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
    padding-bottom: 18px;
}
.section.setup .desc p{
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: var(--gray-1);
    max-width: 284px;
    margin:  0 auto;
}


section.information .text-information{
    padding: 134px 0;
}
section.information h5{
    font-size: 42px ;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
}
section.information p{
    font-size: 18px ;
    font-weight: 300;
    line-height: 28px;
    color: var(--gray-1);
    padding-top: 20px;
}

section.information .info-1{
    padding: 80px 0;
}
.community-image img{
    height: 40em;
    width: 40em;
}
.technology-image img{
    height: 28em;
    width: 20em;
    margin-left: -10px;
}

footer{
    padding-top: 120px;
    margin-bottom: 44px;
    text-align: center;
}
footer a{
    font-weight: bold;
    font-size: 14px;
    color:var(--black);
}
footer .copy{
    margin-top:32px;
    font-size: 14px;
    color: var(--black);
    line-height: 17px;
    font-weight: 400;
}

footer .col-md-6{
    width:100vw;
}

footer small a:hover{
    background: var(--bs-blue);
    padding: 15px 40px;
    border-radius: 8px;
    transition: 0.3s;
    color: var(--white);
    box-shadow: 2px 1px 10px var(--gray-1) ;
}
footer .container{
    background-color: var(--gray-2);
    padding: 20px 0;
    border-radius: 5px;
}
@media (max-width:576px){
    section.hero,
    section.setup,
    section.information{
        text-align: center;
    }
    .navbar{
        padding: 20px 0;
    }
    .nav-link{
        margin-left: 0;
    }
    section.hero img{
        padding-top: 2.5rem;
    }
    section.hero .text{
        font-weight: 800;
        font-size: 38px;
        line-height: 53px;
    }
    .buttons .btn{
        display: block;
        margin: 1rem 0;
    }
    .buttons .ms-3{
        margin-left: 0 !important;
    }

    section.setup{
        padding: 50px 0 ;
    }
    section.information .information-text{
        margin-left: 20px;
        padding: 130px 10px;
    }

    footer{
        padding-top: 50px;
        margin-bottom:44px;
    }
    footer small a:hover{
        background: linear-gradient(1deg, #b6b6b6, transparent);
        padding: 10px 20px;
        border-radius: 5px;
    }
    footer .col-md-6{
        width:100vw;
    }
    footer .col-md-3{
        padding: 8px 0;
    }
    footer .container{
        background:none;
    }
}
#preload{
    background:white url(/25.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
